.container {
  max-width: 1000px;
  margin: auto;
}

table {
  background-color: #ffffff;
}

th, td {
  padding: 12px;
  font-size: 15px;
}

h2 {
  font-weight: bold;
  color: #343a40;
}

.table-hover tbody tr:hover {
  background-color: #f2f2f2;
}
